<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>ToDo App</title>
</head>
<body>
    <div class="main">
        <div class="body-content">
            <div class="card-upcoming">
                <div class="card-upcoming-header">
                    <p>Dailist</p>
                </div>
                <div class="card-upcoming-body">
                    <table>
                        <tbody>
                            <tr class="tr-task" th:each="task : ${tasklist}">
                                <td th:text="${task.id} + '. ' + ${task.description}"></td>
                                <td>
                                    <!--<a th:href="@{/{id}(id=${task.id})}">edit</a>-->
                                    <a class="btn-delete" th:href="@{/delete/{id}(id=${task.id})}">delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="footer-btn">
            <div class="card-footer">
                <a class="btn-add" th:href="@{/newtask}">Add</a> <!-- Link para abrir formulario de adição -->
            </div>
        </div>
    </div>
</body>
</html>