<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="body-content">
            <div class="card-form">
                <form class="form" action="#" th:action="@{/save}" th:object="${task}" method="POST">
                    <label for="description">Enter your task</label>
                    <input type="text" name="description" placeholder="task description" th:field="*{description}" required/>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="footer-btn">
            <div class="card-footer">
                <a th:href="@{/}">Back to tasks</a>
            </div>
        </div>
    </div>
</body>
</html>